<ion-list>
    <ion-item>
    <ion-label></ion-label>
    <ion-select [(ngModel)]="select">
        <div *ngFor="let value of values">
        <ion-option [value]="value">{{value}}</ion-option>
        </div>
    </ion-select> : 
    <ion-select [(ngModel)]="select">
        <div *ngFor="let value of values">
        <ion-option [value]="value">{{value}}</ion-option>
        </div>
    </ion-select>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col col-4></ion-col>
        <ion-col col-2><ion-input type="number" value="0" min="0" placeholder="min"></ion-input></ion-col>
        <ion-col col-1>:</ion-col>
        <ion-col col-2><ion-input type="number" min="0" max="5" placeholder="sg"></ion-input></ion-col>
        <ion-col col-3></ion-col>
      </ion-row>
    </ion-grid>
</ion-list>