<ion-content padding>
  <ion-slides pager >

    <ion-slide>
      <h2>{{'WELCOME.SLIDE1.TITLE' | translate}}</h2>
      <p>{{'WELCOME.SLIDE1.DESCRIPTION' | translate}}</p>
       <!--<ion-icon name="logo-twitter" style= "color: #55acee"></ion-icon>-->

    </ion-slide>

    <ion-slide>
       <h2>{{'LANGUAGE.SELECT' | translate}}</h2>
       <p>{{'WELCOME.SLIDE2.DESCRIPTION' | translate}}</p>
       <ion-list>
          <ion-item>
            <ion-label>{{'LANGUAGE.SELECT' | translate}}</ion-label>
            <ion-select [(ngModel)]="language" (ngModelChange)="updateSelectLanguage($event)">
              <ion-option *ngFor="let lang of languages" [value]="lang.code">{{lang.label}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
    </ion-slide>

    <ion-slide>
        <h2>{{'UNIT_OF_LENGTH.DEFAULT.LABEL' | translate}}</h2>
       <p>{{'WELCOME.SLIDE3.DESCRIPTION' | translate}}</p>
        <ion-list>

          <ion-item>
            <ion-label>{{'UNIT_OF_LENGTH.KM.LABEL' | translate}}</ion-label>
            <ion-toggle [(ngModel)]="unitLenghts[0]" (ionChange)="manageUnitLengthsSelections(0)" color="{{userPreferences.defaultTheme.id}}"></ion-toggle>
          </ion-item>

          <ion-item>
            <ion-label>{{'UNIT_OF_LENGTH.MILE.LABEL' | translate}}</ion-label>
            <ion-toggle [(ngModel)]="unitLenghts[1]" (ionChange)= "manageUnitLengthsSelections(1)" color="{{userPreferences.defaultTheme.id}}"></ion-toggle>
          </ion-item>

        </ion-list>
    </ion-slide>

    <ion-slide>
       <h2 >{{'THEME.SELECT' | translate}}</h2>
       <p >{{'WELCOME.SLIDE4.DESCRIPTION' | translate}}</p>
       
       <ion-list>
          <ion-item>
            <ion-label>{{'THEME.CLICK_TO_SELECT_THEME' | translate}}</ion-label>
            <ion-select [(ngModel)]="userPreferences.defaultTheme" (ngModelChange)="updateSelectTheme(userPreferences.defaultTheme)">
              <ion-option *ngFor="let theme of themeListSelectValues" [value]="theme">{{theme.name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-item color="{{userPreferences.defaultTheme.id}}"> {{'THEME.COLOR_PREVIEW_TEXT' | translate}}</ion-item>
    </ion-slide>

    <ion-slide>
       <h2>{{'WELCOME.SLIDE4.TITLE' | translate}}</h2>
       <p>{{'WELCOME.SLIDE4.DESCRIPTION' | translate}}</p>
    </ion-slide>

    <ion-slide>
       <h2>{{'WELCOME.SLIDE4.TITLE' | translate}}</h2>
       <p>{{'WELCOME.SLIDE4.DESCRIPTION' | translate}}</p>
       <button ion-button (click)="goToMenuPrincipal()" color="{{userPreferences.defaultTheme.id}}">
          {{'SKIP' | translate}}
        </button>
    </ion-slide>

  </ion-slides>
</ion-content>
