.welcome-pages
{
    margin-top: -10px;
}

//Slider pagination active color

.lightseagreen-slider button.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: color($colors, lightseagreen)
}

.violet-slider button.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: color($colors, violet)
}

.twitter-slider button.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: color($colors, twitter)
}

.coral-slider button.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: color($colors, coral)
}

.light-slider button.swiper-pagination-bullet.swiper-pagination-bullet-active { 
  background: color($colors, light)
}

.danger-slider button.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: color($colors, danger);
}

.center-text {
  text-align: center;
}