<ion-header>
  <ion-navbar color="{{selectColor}}">
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{'SETTINGS' | translate}}</ion-title>
    

   <ion-buttons end>
     <button ion-button icon-only>
       <ion-icon name="more"></ion-icon>
     </button>
   </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>
      <ion-item>
        <ion-label>{{'LANGUAGE.SELECT' | translate}}</ion-label>
        <ion-select [(ngModel)]="language" (ngModelChange)="updateSelectLanguage($event)">
          <div *ngFor="let lang of languages">
              <ion-option  *ngIf="lang.available" [value]="lang.code">{{lang.label}}</ion-option>
          </div>
        </ion-select>
      </ion-item>
    </ion-list>
    <h2>{{'UNIT_OF_LENGTH.DEFAULT.LABEL' | translate}}</h2>
       
    <ion-list>

      <ion-item>
        <ion-label>{{'UNIT_OF_LENGTH.KM.LABEL' | translate}}</ion-label>
        <ion-toggle [(ngModel)]="unitLenghts[0]" (ionChange)="manageUnitLengthsSelections(0)" color="{{selectColor}}"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>{{'UNIT_OF_LENGTH.MILE.LABEL' | translate}}</ion-label>
        <ion-toggle [(ngModel)]="unitLenghts[1]" (ionChange)= "manageUnitLengthsSelections(1)" color="{{selectColor}}"></ion-toggle>
      </ion-item>

    </ion-list>
    <h2 >{{'THEME.SELECT' | translate}}</h2>
    <p >{{'WELCOME.SLIDE4.DESCRIPTION' | translate}}</p>
    
    <ion-list>
      <ion-item>
        <ion-label>{{'THEME.CLICK_TO_SELECT_THEME' | translate}}</ion-label>
        <ion-select [(ngModel)]="themeSelect.id" (ngModelChange)="updateSelectTheme(userPreferences.defaultTheme)">
          <div *ngFor="let theme of themeListSelectValues">
            <ion-option [value]="theme.id" *ngIf="theme.available">{{theme.name}}</ion-option>
          </div>
        </ion-select>
      </ion-item>
    </ion-list>

    <select-options></select-options>

    <ion-grid>
      <ion-row>
        <ion-col col-12>This column will take 12 columns</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-2><select-options></select-options></ion-col>
        <ion-col col-1>:</ion-col>
        <ion-col col-2><select-options></select-options></ion-col>
        <ion-col col-4>ion-col col-4>This column will take 6 columns</ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
